@page
@model PrivacyModel
@{
    ViewData["Title"] = "Chính sách bảo mật";
}
<h1>@ViewData["Title"]</h1>

<p>Chính sách bảo mật của PriceWatcher.</p>
<p>Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn...</p>
